<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="CIS407_AtribouConnectionString" connectionString="Data Source=AARONTRIBOU-PC;Initial Catalog=CIS407_Atribou;Persist Security Info=True;User ID=CIS407_Atribou;Password=password" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
			
		<pages>
			<namespaces>
				
				<add namespace="System.Data.SqlClient"/>
				<add namespace="System.IO"/>
				<add namespace="System.Data"/>
				<add namespace="System"/>
				<add namespace="System.Text"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
			</namespaces>
		</pages>
	</system.web>
</configuration>
